# This requirements file should only include dependencies for development
pathlib_mate                            #
twine                                   # make distribution archive
wheel                                   # make pre-compiled distribution package
build                                   # build distribution package
